@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body {
  margin-top: 2%;
  background: url("/static/img/fresian.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Scheherazade New', serif;
}

.colors {
  background: rgb(22,22,201);
background: linear-gradient(90deg, rgba(22,22,201,0.881691556016938) 54%, rgba(24,13,216,1) 100%, rgba(0,212,255,1) 100%);
}