{% load bootstrap4 %}
{% load static %}


{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/email.css' %}"> 
  {% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow p-3 mb-5 bg-blue rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Success Message</h5>
            <p class="card-text text-center">Your account has been activate successfully, Please Proceed to Login here : <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>

</div>


{% endblock %}


